html, body, main {
	width: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	font-family: 'Helvetica Neue';
	font-weight: 200;
	color: #333;
}

body * {
	position: relative;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}
