@import "mixins";
@import "codemirror";
@import "code";
@import "fonts";

html, body, main {
	width: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	font-family: 'Helvetica Neue';
	font-weight: 200;
	color: #333;
	tab-size: 2;
}

body * {
	position: relative;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	margin: 0 0 0.5em 0;
}

p {
	margin: 0 0 1em 0;
}

.clearfix {
	@include clearfix;
}

button {
	background-color: rgb(0,50,150);
	padding: 0.5em;
	border-radius: 0.2em;
	border: none;
	color: white;
	outline: none;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	margin: 0 0 1em 0;
}